/* -- VARIABLES -- */
$main: #29294a;
$primary: #00eeff;
$secondary: #12d995;

$fontColor: #d9d9e9;
$fontPath: "../fonts";

/* -- MIXINS -- */
@mixin transition() {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@font-face {
	font-family: 'Conv_Inconsolata-Bold';
	src: url('#{$fontPath}/Inconsolata-Bold/Inconsolata-Bold.eot');
    src: local('☺'), url('#{$fontPath}/Inconsolata-Bold/Inconsolata-Bold.woff') format('woff'),
    url('#{$fontPath}/Inconsolata-Bold/Inconsolata-Bold.ttf') format('truetype'),
    url('#{$fontPath}/Inconsolata-Bold/Inconsolata-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Inconsolata-Medium';
	src: url('#{$fontPath}/Inconsolata-Medium/Inconsolata-Medium.eot');
    src: local('☺'), url('#{$fontPath}/Inconsolata-Medium/Inconsolata-Medium.woff') format('woff'),
    url('#{$fontPath}/Inconsolata-Medium/Inconsolata-Medium.ttf') format('truetype'),
    url('#{$fontPath}/Inconsolata-Medium/Inconsolata-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Inconsolata-SemiBold';
	src: url('#{$fontPath}/Inconsolata-SemiBold/Inconsolata-SemiBold.eot');
    src: local('☺'), url('#{$fontPath}/Inconsolata-SemiBold/Inconsolata-SemiBold.woff') format('woff'),
    url('#{$fontPath}/Inconsolata-SemiBold/Inconsolata-SemiBold.ttf') format('truetype'),
    url('#{$fontPath}/Inconsolata-SemiBold/Inconsolata-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Inconsolata-Light';
	src: url('#{$fontPath}/Inconsolata-Light/Inconsolata-Light.eot');
    src: local('☺'), url('#{$fontPath}/Inconsolata-Light/Inconsolata-Light.woff') format('woff'),
    url('#{$fontPath}/Inconsolata-Light/Inconsolata-Light.ttf') format('truetype'),
    url('#{$fontPath}/Inconsolata-Light/Inconsolata-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Inconsolata-Regular';
	src: url('#{$fontPath}/Inconsolata-Regular/Inconsolata-Regular.eot');
    src: local('☺'), url('#{$fontPath}/Inconsolata-Regular/Inconsolata-Regular.woff') format('woff'),
    url('#{$fontPath}/Inconsolata-Regular/Inconsolata-Regular.ttf') format('truetype'),
    url('#{$fontPath}/Inconsolata-Regular/Inconsolata-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* -- GLOBAL -- */

html, body {
    background: $main;
    box-shadow: none;
    font-family: "Conv_Inconsolata-Light";
    color: $fontColor;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Conv_Inconsolata-Medium";
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    @include transition();

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

.full-height {
    height: 100vh;
}

.text-light {
    font-family: "Conv_Inconsolata-Light";
}

.text-medium {
    font-family: "Conv_Inconsolata-Medium";
}

.text-bold {
    font-family: "Conv_Inconsolata-Bold";
}

.text-primary {
    color: $primary !important;
}

.text-small {
    font-size: 14px;
    margin-bottom: 0;
    color: lighten($main, 55%);
}

.description {
    margin-top: 20px;
}

.btn-outline-primary {
    border: 1px solid $primary;
    background: transparent;
    color: $primary;
    @include transition();
    @include border-radius(50px);

    &:hover {
        color: $primary;
        background: rgba(255,255,255,0.1);
        border: 1px solid $primary;
    }

    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    &:focus,
    &.focus {
        box-shadow: none; 
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        border-color: $primary;
        background-color: rgba(255,255,255,0.1);
        box-shadow: none; 
    }
}

.marker {
    margin-right: 7px;
    color: $primary;
}

/* -- SECTIONS -- */
.row {
    position: relative;

    &:nth-child(even) {
        .section-header {
            background: rgba(35,35,62,0.8);
        }
    }
}
.section-bg-opacity {
    background: rgba(255,255,255,0.01);
    position: absolute;
    height: inherit;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.section-header {
    background: #23233e;
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;

    .section-header-content {
        width: 400px;
        text-align: right;
        padding-right: 50px;
    }

    img {
        width: 280px;
    }
}

.hero {
    height: 100vh;
    align-items: center;

    .section-header-content {
        padding-right: 35px;
    }

    img {
        width: 280px;
    }
}

.soc-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;

    li {
        margin-right: 20px;
    }
    
    a {
        &.soc-media-icon {
            width: 20px;
            height: 20px;
    
            &:hover {
                color: $primary;
            }
    
            svg {
                width: inherit;
                height: inherit;
            }
        }
    } 
}

/* -- CONTENT -- */
.section-content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0;

    .section-content {
        width: 624px;
        padding-left: 60px;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.tech-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    li {
        padding: 2px 12px;
        margin: 0 8px 8px 0;
        background: darken($main, 3%);
        @include border-radius(50px);
    }

    img {
        width: 18px;
    }

    &.portfolio {
        font-size: 12px;
        margin-top: 8px;
        margin-left: -2px;

        li {
            padding: 2px 8px;
            margin: 0 4px 4px 0;
        }
    }
}

ul.timeline {
    list-style-type: none;
    position: relative;

    &:before {
        content: ' ';
        background: #d4d9df;
        display: inline-block;
        position: absolute;
        top: 10px;
        width: 1px;
        height: 100%;
        z-index: 400;
    }

    & > li {
        margin-bottom: 20px;
        padding-left: 30px;

        &:before {
            content: ' ';
            background: $primary;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            margin-top: 9px;
            left: -6px;
            width: 13px;
            height: 13px;
            z-index: 400;
        }
    }

    a {
        color: $primary;
    }
}

.role {
    font-family: "Conv_Inconsolata-Bold";
    font-size: 20px;
    margin-bottom: 0;
}

.portfolio-img-wrapper,
.portfolio-img {
    display: block;
}

.portfolio-img-wrapper {
    position: relative;
}

.portfolio-img {
    width: 100%;
}

.portfolio-title {
    position: absolute;;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 8px ;
    background: rgba(41,41,74,0.9);
    @include transition();

    h5 {
        margin-bottom: 0;
    }
}